# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

# Pycaches
**/__pycache__
**/*.pyc
**/.pytest_cache

# Venv
.venv
**/.env

# Logs
**/*.log

# Agent
CLAUDE.md