name: Code Quality

on:
  push:
    branches:
      - '**'
  pull_request:
    branches:
      - '**'

jobs:
  readability:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'
          cache: 'pip'
  
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install black flake8 isort
          pip install -r requirements.txt

      - name: Black
        run: black --check ./app

      - name: Flake8
        run: flake8 --ignore=E203,E501,W291,W293,W391,F541,E402,W503 ./app

      - name: Run tests
        run: |
          pip install pytest
          pytest --maxfail=1 --disable-warnings -v