name: Code Security

on:
  push:
    branches:
      - '**'
  pull_request:
    branches:
      - '**'

jobs:
  bandit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v4
        with:
          python-version: '3.11'
      - run: pip install bandit
      - run: bandit -r .